.navbar-brand {
    font-size: 20px;
    line-height: 10px;
    padding: 8px 0 10px 10px;
}

.dropdown-menu > li > a {
    text-align: left !important;
}

#primaryNav #companyLogo {
    height: 32px;
}


.grayBg {
    background: gray !important;
}


.tab-content table {
    border: 1px solid gray;
}

.tab-content th {
    border: 2px solid gray !important;
}

.tab-content td {
    border: 1px solid gray !important;
}

.helveticaFont {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.card {
    position: relative;
    border: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    background-color: #ff5959;
    color: white;
}

    .card .card-block {
        position: relative;
        padding: 2rem;
    }

    .card .card-text {
        font-size: 3em;
    }

    .card .btn {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 0;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        border-radius: 50%;
        padding: 0;
        width: 3rem;
        height: 3rem;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

        .card .btn .icon {
            width: 50%;
            height: 50%;
            margin-left: -10%;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }

#upcomingAreas ul li {
    font-size: 16px;
}

.TeamModuleDDN {
    margin-top: 15px;
}

.ProjectDropdown {
    color: black;
    width: 100%;
}

    .ProjectDropdown li a {
        font-size: 15px;
    }

    .ProjectDropdown button {
        width: 100%;
    }

    .ProjectDropdown li a {
        color: black !important;
    }

.WeeklyProgressCard {
    margin: 0;
    width: 100%;
    white-space: normal;
    padding: 0;
}

    .WeeklyProgressCard .card-text {
        font-size: 1.2em;
    }

.WeeklyProgressCard {
    cursor: default;
}

.WeeklyProgress {
    padding: 0 !important;
    margin: 10px 0 2px 0 !important;
}

.WeeklyProgressDates {
    margin: 0;
    padding: 0;
}

.ddnProductArea {
    max-height: 500px;
    overflow: scroll;
}

.navbar img {
    margin: 5px;
    padding-top: 10px;
}

.navbar {
    border-radius: 0 !important;
    box-shadow: 5px 5px 5px darkgrey;
}

.Instructions ul li {
    font-family: 'Playball', cursive, Calibri;
    font-size: 2em;
    margin: 20px auto;
    list-style-type: none;
}

.Instructions {
    margin-top: 40px !important;
}

.dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.PAdDropDown {
    max-width: 100%;
    min-width: 40%;
}

#myChart {
    margin-top: 40px;
}

#AllResults {
    width: 70%;
    margin: auto;
}

.SelectTeamMessage {
    color: black;
    margin-top: 20px;
}

.SelectProductAreaMessage {
    color: black;
    font-size: large;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
}
#GetLatestLink {
    width: 78%;
}

.modal .row {
    margin: 10px 0;
}
