
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InitiateAutomation</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TriggerAutomation.css" rel="stylesheet" />
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard &nbsp;</a>

        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />


        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/GetDataForTeam/1">UI</a></li>
                    <li><a href="/Home/PageUnderConstruction">API</a></li>
                    <li><a href="/Home/PageUnderConstruction">Mobile</a></li>
                    <li><a href="/Home/PageUnderConstruction">Perf</a></li>
                    <li><a href="/Home/PageUnderConstruction">Security</a></li>
                    <li><a href="~/CodeCoverage/FullPassReport@1812_UploadModule_Merged.html" target="_blank">Code Coverage</a></li>
                    <li class="active"><a href="/Home/Sentinel">Sentinel</a></li>
                    <li><a href="/Home/About?CurrentTeamId=1">Team</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/GetOptimusDocumentation" target="_blank">Optimus Docs</a></li>
                            <li><a href="/Home/GetParallelExecDocs" target="_blank">Parallel Docs</a></li>
                            <li><a href="/Home/GetFlowChart" target="_blank">Flowchart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Home/GetOptimusArchitecture" target="_blank">Optimus Architecture</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    <li class="btn-group">
                        <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/InitiateAutomation">InitiateAutomation</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </nav>
    <div class="assessment-container container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 form-box">
                <form role="form" class="registration-form" id="AutomationRequestForm" action="javascript:void(0);" autocomplete="off"> 
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Trigger new Automation Run</h3>
                                <p>
                                    Please give us more information about your request
                                </p>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Team Name" name="CurrentTestTeam" id="CurrentTestTeam" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="text" class="form-control" placeholder="AutomationRunType" name="AutomationRunType" id="AutomationRunType" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <select class="form-control" name="ParallelExecution" id="ParallelExecution">
                                        <option value="No">ParallelExecution (Default value is No)</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="url" class="form-control" placeholder="Build URL" name="BuildURL" id="BuildURL" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <select class="form-control" name="Browser" id="Browser">
                                        <option value="Chrome">Browser (Default value is Chrome)</option>
                                        <option value="Chrome">Chrome</option>
                                        <option value="Firefox">Firefox</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="email" class="form-control" placeholder="To" name="To" id="To" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="email" class="form-control" placeholder="Cc" name="Cc" id="Cc">
                                </div>
                            </div>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span> Give more information about your application instance</h3>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Database Name" name="DBName" id="DBName" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Database Server" name="DBServer" id="DBServer" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Database User Id" name="DBuserId" id="DBuserId" required autocomplete="off">
                                </div>
                                <input style="display:none">
                                <input type="password" style="display:none">
                                <div class="form-group col-md-12 col-sm-12">
                                    <input type="password" class="form-control" placeholder="Database Password" name="DBPassword" id="DBPassword" required autocomplete="off">
                                </div>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </fieldset>
                </form>
                <div class="alertMessages">
                    <div class="alert alert-success">
                    </div>
                    <div class="alert alert-danger" role="alert">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.registration-form fieldset:first-child').fadeIn('slow');

            $('.registration-form input[type="text"]').on('focus', function () {
                $(this).removeClass('input-error');
            });

            // next step
            $('.registration-form .btn-next').on('click', function () {
                var parent_fieldset = $(this).parents('fieldset');
                var next_step = true;

                parent_fieldset.find('input[type="text"],input[type="email"],input[type="url"]').each(function () {

                    if (($(this).val() == "" && $(this).is('[required]')) || !$(this).is(':valid')) {
                        $(this).addClass('input-error');
                        next_step = false;
                    } else {
                        $(this).removeClass('input-error');
                    }

                });
                if (next_step) {
                    parent_fieldset.fadeOut(400, function () {
                        $(this).next().fadeIn();
                    });
                }

            });

            // previous step
            $('.registration-form .btn-previous').on('click', function () {
                $(this).parents('fieldset').fadeOut(400, function () {
                    $(this).prev().fadeIn();
                });
            });

            var SuccessDiv = $('.alert-success');
            var FailureDiv = $('.alert-danger');
            SuccessDiv.hide();
            FailureDiv.hide();
            // submit
            $('.registration-form').on('submit', function (e) {
                var hasErrors = false;
                $(this).find('input[type="text"],input[type="email"],input[type="url"]').each(function () {
                    if ($(this).val() == "") {
                        e.preventDefault();
                        $(this).addClass('input-error');
                    } else {
                        $(this).removeClass('input-error');
                    }
                });
                var form = $('#AutomationRequestForm');
                form.validate();
                if(form.valid())
                {
                    SuccessDiv.hide();
                    FailureDiv.hide();
                    $.ajax({
                        url: "/api/automation",
                        method: "POST",
                        data: form.serialize(),
                        dataType: "text",
                        success: function (data) {
                            SuccessDiv.empty();
                            SuccessDiv.append('<strong>Success!</strong> Your Request has been recieved successfully. ' + data);
                            SuccessDiv.fadeIn(2000);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            FailureDiv.empty();
                            FailureDiv.append('<strong>Failed!</strong> ' + errorThrown);
                            FailureDiv.fadeIn(2000);
                        }
                    });
                }
                else
                    {alert("invalid form")}
            });


        });
    </script>
</body>
</html>
