<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Automation Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" ---->
    <link rel="shortcut icon" href="http://www.aurigo.com/wp-content/themes/dazzling/fav_icon.png" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <style>
        .tab-pane {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" id="primaryNav">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 24px;"></span>&nbsp;&nbsp;Automation Dashboard &nbsp;</a>

        <img src="http://www.aurigo.com/wp-content/uploads/2015/12/logomain.png" alt="Company Logo" id="companyLogo" class="pull-right" />
        @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/GetDataForTeam/1">UI</a></li>
                    <li><a href="/Home/PageUnderConstruction">API</a></li>
                    <li><a href="/Home/PageUnderConstruction">Mobile</a></li>
                    <li><a href="/Home/PageUnderConstruction">Perf</a></li>
                    <li><a href="/Home/PageUnderConstruction">Security</a></li>
                    <li><a href="~/CodeCoverage/FullPassReport@1812_UploadModule_Merged.html" target="_blank">Code Coverage</a></li>
                    <li class="active"><a href="/Home/Sentinel">Sentinel</a></li>
                    <li><a href="/Home/About?CurrentTeamId=1">Team</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/GetOptimusDocumentation" target="_blank">Optimus Docs</a></li>
                            <li><a href="/Home/GetParallelExecDocs" target="_blank">Parallel Docs</a></li>
                            <li><a href="/Home/GetFlowChart" target="_blank">Flowchart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Home/GetOptimusArchitecture" target="_blank">Optimus Architecture</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    <li class="btn-group">
                        <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/InitiateAutomation">InitiateAutomation</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </nav>
    <div class="container" id="main">
        <div class="">
            <div class="col-sm-12" id="content">
                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#SlavesOverview" data-toggle="tab" class="OverviewATag">Slaves Status</a>
                        </li>
                        <li>
                            <a href="#PrimeHistory" data-toggle="tab" class="PrimeHistoryLink">Prime's History</a>
                        </li>
                        <li>
                            <a href="#SentinelHistory" data-toggle="tab" class="SentinelHistoryLink">Sentinel's History</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active overview" id="SlavesOverview">
                            <div class="row">
                                <div class="row text-center SlavesLoadingGif">
                                    <img src="~/Content/cube.gif" alt="Loading..." />
                                </div>
                                <div class="col-sm-12 text-center">
                                    <canvas id="SlavesOverviewChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="PrimeHistory">
                            <div class="row">
                                <table id="PrimeHistory_Table_div" class="table table-hover">
                                    <tr>
                                        <th>
                                            <div class="dropdown">
                                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Job 1
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu ManagerJobsDropdownMenu" aria-labelledby="dropdownMenu1"></ul>
                                            </div>
                                        </th>
                                        <th>Suite</th>
                                        <th>Optimus</th>
                                        <th>Status</th>
                                        <th>Time For Completion</th>
                                        <th>Results</th>
                                    </tr>
                                    <tbody id="PrimeHistoryData"></tbody>
                                </table>
                            </div>
                            <div class="row text-center LoadingGif">
                                <img src="~/Content/cube.gif" alt="Loading..." />
                            </div>
                        </div>
                        <div class="tab-pane" id="SentinelHistory">
                            <table id="SentinelHistory_Table_div" class="table table-hover">
                                <tr>
                                    <th>Job Id</th>
                                    <th>Automation Run Type</th>
                                    <th>Status</th>
                                    <th>Time For Completion</th>
                                    <th>Results</th>
                                </tr>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var SlavesLoadingGif = $('.SlavesLoadingGif');
        var LoadingGif = $('.LoadingGif');
        var SentinalHistory = false;
        var PrimeHistory = false;
        var PrimeHistoryData, SentinelHistoryData;
        function UpdatePrimeHistory(id) {
            LoadingGif.fadeIn(500);
            $.get("/api/PrimeHistory/" + id).success(function (data) {
                PrimeHistoryData = data;
                PrimeHistoryDataContainer = $('#PrimeHistoryData');
                //console.log(PrimeHistoryData);
                PrimeHistoryDataContainer.fadeOut(500, function () {
                    $(this).empty();
                }).promise().done(function () {
                    for (i in data) {
                        var status;
                        if (data[i].IsComplete == 'Completed') {
                            status = '<span class="label label-info">Completed</span>';
                            PrimeHistoryDataContainer.append('<tr><td>' + data[i].JobId + '</td><td>' + data[i].Suite + '</td><td>' + data[i].SlaveMachine + '</td><td>' + status + '</td><td>' + data[i].TimeForCompletion + '</td><td><a href="/Home/GetXMLReportForSuite/' + data[i].Id + '" target="_blank" class="btn btn-danger">XML</a>&nbsp<a href="/Home/ViewSuiteHTMLReport/' + data[i].Id + '" target="_blank" class="btn btn-danger">HTML</a>&nbsp<a href="/Home/GetConfigForSuite/' + data[i].Id + '" target="_blank" class="btn btn-danger">Config</a></td></tr>');
                        }
                        else {
                            status = '<span class="label label-danger">In Progress</span>';
                            PrimeHistoryDataContainer.append('<tr><td>' + data[i].JobId + '</td><td>' + data[i].Suite + '</td><td>' + data[i].SlaveMachine + '</td><td>' + status + '</td><td>Not Available</td><td><a href="/Home/GetXMLReportForSuite/' + data[i].Id + '" target="_blank" class="btn btn-danger disabled">XML</a>&nbsp<a href="/Home/ViewSuiteHTMLReport/' + data[i].Id + '" target="_blank" class="btn btn-danger disabled">HTML</a>&nbsp<a href="/Home/GetConfigForSuite/' + data[i].Id + '" target="_blank" class="btn btn-danger disabled">Config</a></td></tr>');
                        }
                    }
                    LoadingGif.fadeOut(250).promise().done(function () {
                        PrimeHistoryDataContainer.fadeIn(250);
                    });
                });
                PrimeHistory = true;
            });
        }
        $.get("/api/SlavesStatus").success(function (data) {
            SlavesLoadingGif.fadeOut(500).promise().done(function () {
                var ctx1 = document.getElementById("SlavesOverviewChart").getContext("2d");
                ctx1.canvas.width = 1000;
                ctx1.canvas.height = 400;

                var ctx = document.getElementById("SlavesOverviewChart");
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ["Busy", "Idle"],
                        datasets: [
                            {
                                label: "Slave Status",
                                data: [data.Busy, data.Idle],
                                backgroundColor: [
                                    "#ff6384",
                                    "#36a2eb"
                                ],
                            }
                        ]
                    },
                    options: {
                        animation: {
                            easing: 'easeOutBounce',
                            duration: 1000
                        },
                        responsive: true,
                        title: {
                            display: true,
                            position: "bottom",
                            text: "Total Available Slaves - " + (data.Busy + data.Idle),
                            fontSize: 18,
                            fontColor: "#111"
                        },
                        legend: {
                            display: true,
                            position: "top",
                            labels: {
                                fontColor: "#333",
                                fontSize: 16
                            }
                        }
                    }
                });
            });
        });
        $.get("/api/SentinelHistory").success(function (data) {
            SentinelHistoryData = data;
            console.log(SentinelHistoryData);
        });

        $(document).on('click', '.OptimusJobId', function () {
            var id = $(this).attr('value');
            $('#dropdownMenu1').text("Job " + id);
            $('#dropdownMenu1').append('&nbsp<span class="caret"></span>');
            UpdatePrimeHistory(id);
        });
        $('.PrimeHistoryLink').click(function () {
            if (!PrimeHistory) {
                var dropdownMenu = $('.ManagerJobsDropdownMenu');
                for (i in SentinelHistoryData) {
                    dropdownMenu.append('<li class="OptimusJobId" value="' + SentinelHistoryData[i].Id + '"><a href="#">Job ' + SentinelHistoryData[i].Id + '</a></li>');
                }
                UpdatePrimeHistory(1);
                PrimeHistory = true;
            }
        });
        $('.SentinelHistoryLink').click(function () {
            if (!SentinalHistory) {
                var SentinelHistoryTable = $('#SentinelHistory_Table_div > tbody:last');
                for (i in SentinelHistoryData) {
                    var status;
                    if (SentinelHistoryData[i].Status == 'InProgress') {
                        status = '<span class="label label-danger">In Progress</span>';
                        SentinelHistoryTable.append('<tr><td>' + SentinelHistoryData[i].Id + '</td><td>' + SentinelHistoryData[i].AutomationRunType + '</td><td>' + status + '</td><td>Not Available</td><td><a href="/Home/ViewFullPassXMLReport/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">XML</a>&nbsp<a href="/Home/ViewFullPassHTMLReport/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">HTML</a>&nbsp<a href="/Home/GetConfigForJob/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">Config</a></td></tr>');
                    }
                    else {
                        status = '<span class="label label-info">Completed</span>';
                        SentinelHistoryTable.append('<tr><td>' + SentinelHistoryData[i].Id + '</td><td>' + SentinelHistoryData[i].AutomationRunType + '</td><td>' + status + '</td><td>' + SentinelHistoryData[i].TimeForCompletion + '</td><td><a href="/Home/ViewFullPassXMLReport/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">XML</a>&nbsp<a href="/Home/ViewFullPassHTMLReport/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">HTML</a>&nbsp<a href="/Home/GetConfigForJob/' + SentinelHistoryData[i].Id + '" target="_blank" class="btn btn-danger">Config</a></td></tr>');
                    }
                }
                SentinalHistory = true;
            }
        });
    });
</script>